
.expanded button {
  width: 50vw;
  max-width: 450px;
  height: 100%;
  text-align: start;
  border-bottom: 1px solid #fff;
  padding-left: 1rem;
}
.expanded button:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}
.expanded button:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
  border: none;
}

.expanded button:hover {
  background-color: #ccc;
}

@media (orientation: landscape) {
  .game-cont {
    
  }
}
@media (prefers-color-scheme: dark){
  .expanded button {
    border-bottom: 1px solid black;
  }
  .expanded button:last-child {
  border: none;
  }
  .expanded button:hover {
  background-color: #555;
  }
}

.game-img {
  height: 60%;
  width: auto;
  margin: auto;
  animation: showxo 0.3s 1;
}

@keyframes showxo {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.turn {
  background-color: #5ab;
}

@keyframes won {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}
.won {
  animation: won 0.5s 1;
}

.game-btns {
  transition: opacity 1s;
}