
.expanded button {
  width: 50vw;
  max-width: 450px;
  height: 100%;
  text-align: start;
  border-bottom: 1px solid #fff;
  padding-left: 1rem;
}
.expanded button:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}
.expanded button:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
  border: none;
}

.expanded button:hover {
  background-color: #ccc;
}